<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title %}
      {{ page.title }} - Xuejie Xiao
    {% else %}
      {{ site.posts.first.title }} - Xuejie Xiao
    {% endif %}
  </title>
  <link rel="alternate" title="qiezi" type="application/rss+xml" href="http://feeds.feedburner.com/qiezi" />
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tomorrow_night.css" />
  <link href="/favicon.png" type="image/png" rel="shortcut icon">
  <script type="text/javascript" src="/javascript/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="content">
    {% include header.html %}
  </div>
  {{ content }}
  <div class="related">
    <h3>all posts</h3>
    <p>
			<table>
				<tbody>
					{% for post in site.posts %}
					<tr>
						<td>
							{{ post.date | date: "%b %d, %Y" }} 
						</td>
						<td>
							&raquo;
						</td>
						<td>
							<a href="{{ post.url }}">{{ post.title }}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</p>
    <br />
  </div>
  {% include footer.html %}
  {% include ga.html %}
  </body>
</html>
